.showDiv{
	float: left;
	text-align: center;
	width:900px;	
}

.form_item{
	margin-left:150px;
	margin-top:10px;
}

.button_edit{
	margin-left:350px;
	margin-top:20px;
}

.button_submit{
	margin-left:30px;
	margin-top:20px;
}

.add_item{
	margin-top:10px;
	float:right;
	margin-right:20px;
	cursor:hand;
}