.mainDiv{
	position:absolute; /*绝对定位*/ 
	top:50%; /*距顶部50%*/ 
	left:50%; 
	margin:-240px 0 0 -400px; /*设定这个div的margin-top的负值为自身的高度的一半,margin-left的值也是自身的宽度的一半的负值.(感觉在绕口令)*/ 
	width:800px; /*宽为400,那么margin-top为-200px*/ 
	height:480px; /*高为200那么margin-left为-100px;*/ 
	z-index:99; /*浮动在最上层 */ 
	/*background: grey;*/
	text-align: center;
	font-family: "Microsoft YaHei";
}

.loginDiv{
	top: 5%;
	align: center;
}

.loginButton{
	margin-top:20px;
	width:75px;
	height: 30px;
}